<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="NLogViewer"
            name="DebugInfo" layout="
            ${newline}时间：${longdate}
            ${newline}信息：${message}"/>
    <target xsi:type="File"
            name="ErrorInfo"
            fileName="${basedir}/Logs/${date:format=yyyyMMdd}_ErrorInfo.txt"
            layout="
              ${newline}时间： ${longdate}
              ${newline}来源： ${callsite}
              ${newline}等级： ${level}
              ${newline}堆栈： ${event-context:item=exception} ${stacktrace}
              ${newline}错误： ${exception:format=tostring}
              ${newline}信息： ${message}
              ${newline}
              ${newline}-----------------------------------------------------------"/>
    <target xsi:type="File"
            name="Info"
            fileName="${basedir}/Logs/${date:format=yyyyMMdd}_Info.txt"
            layout="
              ${newline}时间： ${longdate}
              ${newline}信息： ${message}
              ${newline}-----------------------------------------------------------"/>
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="ErrorInfo"></logger>
    <logger name="*" level="Info"  writeTo="Info"></logger>
    <logger name="*" minlevel="Trace" writeTo="DebugInfo"></logger>
  </rules>
</nlog>
